Source: xubuntu-community-artwork
Section: x11
Priority: optional
Maintainer: Xubuntu Developers <xubuntu-devel@lists.ubuntu.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0
Rules-Requires-Root: no

Package: xubuntu-community-wallpapers
Architecture: all
Depends: xubuntu-community-wallpapers-bionic, ${misc:Depends}
Suggests: xubuntu-community-wallpapers-trusty,
 xubuntu-community-wallpapers-xenial
Breaks: xubuntu-community-wallpapers (<< 16.04.0)
Replaces: xubuntu-community-wallpapers (<< 16.04.0)
Description: Xubuntu community wallpapers
 This package is a metapackage for the latest
 wallpapers from the Xubuntu community contest.

Package: xubuntu-community-wallpapers-trusty
Architecture: all
Depends: ${misc:Depends}
Breaks: xubuntu-community-wallpapers (<< 16.04.0)
Replaces: xubuntu-community-wallpapers (<< 16.04.0)
Description: Xubuntu community wallpapers (Trusty)
 This package contains the wallpapers from the
 Xubuntu 14.04 community contest.

Package: xubuntu-community-wallpapers-xenial
Architecture: all
Depends: ${misc:Depends}
Breaks: xubuntu-community-wallpapers (<< 16.04.0)
Replaces: xubuntu-community-wallpapers (<< 16.04.0)
Description: Xubuntu community wallpapers (Xenial)
 This package contains the wallpapers from the
 Xubuntu 16.04 community contest.

Package: xubuntu-community-wallpapers-bionic
Architecture: all
Depends: ${misc:Depends}
Description: Xubuntu community wallpapers (Bionic)
 This package contains the wallpapers from the
 Xubuntu 18.04 community contest.
